@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Poiret+One&display=swap');

html, body {
    background: #23272a;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}